<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cognitive Health Claims Advisor</title>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- This is the latest version of angular (at the time this template was created) -->
    <link rel="stylesheet" href="css/estilos.css" type="text/css">
    <!--<link rel="styles"  href="styles/estilos.css">-->
    <link rel="stylesheet"  href="css/empresa.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-slider.css"/>
    <!-- Librerias -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="js/jquery/jquery-1.12.0.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->


    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/chat/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/chat/themes.css"/>
    <link rel="stylesheet" type="text/css" href="css/chat/custom-template.css"/>


    <link rel="stylesheet" href="css/analiza.css" type="text/css">



    <!--estilos Cie10-->
    <link rel="stylesheet" href="css/cie10/estilosCie10.css" type="text/css">

    <!--End estilos Cie10-->
    <style>
        /*.OFHighlightTerm2{*/
        /*background-color: yellow;*/
        /*font-size: 19px;*/
        /*font-weight: bold;*/
        /*}*/
        /*.ellipsis{*/
        /*background-color: yellow;*/
        /*}*/
    </style>

</head>
<body>



</body>

<!-- Application Dependencies Chat-->


<!-- Application Scripts -->
<script src="app.js"></script>
<script src="odm.js"></script>

<script src="app_broker.js"></script>
<script src="odm_broker.js"></script>
<script src="json.js"></script>







<script>
    $(document).ready(function () {
        console.log("******************** Servicio Analizando ********************")
       Json();
    }); /*end (document).ready*/



</script>

<!--Scripts Cie10-->
<!--End Scripts Cie10-->

</html>
